/* PROFILE - MOBILE FIRST */
.profile-grid{
    grid-row: 1/8;
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2em;
    height: 100%;
    min-height: 0;
}

.profile-content-parent{
    box-shadow: 0 0 0 2px #1E1E1E;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    min-height: 0;
}

.profile-content{
    margin: 0;
    flex: 1;
    min-height: 0;
    gap: 0.6em;
    background-color: white;
    padding: 1.3em;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border-top-color: white;
    border-radius: 0 0 10px 10px;
}

.top-nav {
    background-color: #62ADE3;
    margin: 0;
    max-height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2px 10px 0 0;
    border-bottom: 2px solid #1E1E1E;
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 0.3em;
}

.nav-icon {
    width: 15px;
}


.img-box{
    grid-column: 1/3;
    grid-row: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profile-img {
    border-radius: 10px;
    display: block;
    width: 100%;
    object-fit: cover;
}

.contact-box {
    grid-column: 3/6;
}

.contact-list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    display: flex;
    gap: 0.40em;
    justify-content:flex-end;
}

.contact-icon {
    width: 26px;
}

.contact-btn {
    border: none;
    padding: 0.60em 1.2em;
    border-radius: 3em;
    background-color: #EEE785;
    cursor: pointer;
    font-family: inherit;
}


.contact-btn:hover{
    background-color: #62ADE3;
}

.contact-icon:hover {
    filter: invert(69%) sepia(50%) saturate(834%) hue-rotate(176deg) brightness(91%) contrast(94%);
}

.intro-box {
    grid-column: 3/6;
    grid-row: 2/4;
    font-family: inherit;
    font-size: 0.99rem;
    font-weight: 300;
    display: flex;
    justify-content: center;
    padding: 0 1em;
    
}

.span3 {
    font-style: italic;
}

.span2, .span3, .span5 {
    font-weight: 500;
}

.skills-box {
    grid-column: 1/6;
    grid-row: 4/6;
    font-size: 0.93rem;
}

.skill-highlight {
    display: flex;
    gap: 0.45em;
}

.skill-item {
    font-size: 0.9rem;
    font-family: inherit;
    background-color: #62ADE3;
    padding: 0.50em 1.2em;
    border-radius: 3em;
    border: none;
    margin-bottom: 0.70em;
    display: inline-flex;
    align-items: center;
    gap: 0.45rem;
}

.skill-img {
    width: 18px;
}

#prof-header{
    width: calc(100% - 0.7rem);
    max-width: inherit;
    padding: 0.6em 0;
}


/* modal */
.show-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: white;
    max-width: 300px;
    max-height: 300px;
    border: 2px solid #1E1E1E;
    color: #1E1E1E;

    .top-nav {
        background-color: #EEE785;
    } 
}

#close-modal {
    background-color: transparent;
    border: none;
    margin-top: 1px;
}

.modal-img {
    width: 20px;
}

.contact-info {
    padding: 1em;
}

.contact-info h3 {
    margin:0;
}

.contact-info p {
    margin: 0.7em 0;
}


/* MEDIA QUERIES */
/* phone 1 */
 @media(min-width: 360px){
    .profile-content{
        padding: 0.9em;
        gap: 0.6em;
    } 

    .projects-container {
        border-top: 2px solid #1E1E1E;
    }

    .profile-img {
        height: 100%;
        object-fit: cover;
    }

    /* profile content grid*/
    .intro-box p{
        grid-row: 2/4;
        font-size: 1rem;
    }

    .img-box{
        grid-row: 1/4;
    }

    .skills-box {
        grid-row: 4/6;
    }

    .contact-btn {
        font-size: 0.7rem;
    }

    .skill-item {
        font-size: 0.789rem;
    }

    .profile-container-shrink{
        border-bottom: 2px solid #1E1E1E;
    }   
}

/* phone 2 */
@media(min-width: 430px){
    .profile-img {
        height: 100%;
        object-fit: cover;
    }

    .intro-box p{
        font-size: 1.223rem;
    }

}

@media (min-width: 650px){
    .intro-box p{
        font-size: 1.5rem;
    }
}

/* tablet */
@media(min-width: 768px){
    main {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(8, minmax(0, 1fr));
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .profile-content {
        padding: 1.5em;
    }

    .profile-grid{
        grid-column: 1/12;
        grid-row: 1/9;
    }

    .profile-container-shrink{
        border-bottom: none;
    }   

    .projects-container{
        grid-row: 1/9;
        border-top: none;
        border-left: 2px solid #1E1E1E;
    }

    .projects-container-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2em;
    }


    /* profile content grid*/
    .intro-box p{
        grid-row: 2/5;
        font-size: 2rem;
    }

    .img-box{
        grid-row: 1/5;
    }

    .skills-box {
        grid-row: 5/7;
        font-size: 0.88em;
    }

    .skill-item{
        font-size: 0.88em;
    }

    .contact-icon {
        width: 25px;
    }

    .contact-btn {
        font-size: 0.88em;
    }

    /* applies to BOTH profile and projects */
    .tab-header{
        writing-mode: vertical-rl;
        text-orientation: mixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60px;
        height: 100%;
    }

    .projects-container {
        background-color: #EEE785;
        border-top: none
    }

    .tab-title, .year{
        display: flex;
        align-items: center;
        gap: 1rem;
        justify-content: space-between;
    }
    
    .tab-title h2,
    .tab-title p,
    .year p{
        margin: 0;
    }

    .year hr{
        width: 1px;
        height: 100%;
        margin: 0;
    }
}


/* desktop*/
@media (min-width: 1024px){
    .profile-container{
        padding:2em 9em;
        height:100%;
    }

    .intro-box p{
        font-size: 1.888rem;
    }
}

@media (min-width: 1100px){
    .profile-container{
        padding: 2em 12em;
        height:100%;
    }

    /* profile content grid*/
    .skills-box, .skill-item {
        font-size: 1em;
    }

}

@media (min-height: 790px){
    .profile-content{
        padding: 0.99em;
        gap: 0.6em;
    } 

}